<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/styles/styles.css" type="text/css">  
    <title>Café Finca Helena | Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="assets/styles/whatsapp.css">
    <link rel="icon" href="Recursos/favicon.ico" type="image/x-icon">
    <a href="https://api.whatsapp.com/send?phone=573102263820&text=%C2%A1Hola!%20Quisiera%20saber%20m%C3%A1s%20de%20tus%20servicios." class="float" target="_blank">
      <i class=""><img src="Recursos/logo-Wp.png" width="40" height="40" alt=""></i>
    </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- ==================== Navigation_Start =================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Logo chính của wed -->
          
            <a href="index.html"><img src="img/Logo-horizontal-Cafe-Finca-helena.png"  alt="" class="logo-header"/></a>
          
          <!-- ==================== Responsive_button ==================== -->
          <button
            class="navbar-toggle"
            type="button"
            data-toggle="collapse"
            data-target="#navi"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navi">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a href="origen.html" class="nav-link">Orígenes</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Productos De Café</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Mundo Café</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#contacto">Contácto</a>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="shopping-cart"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <br>

    <!-- ==================== BANNER ==================== -->
    <section id="carrusel-i">  
      <div class="carousel-i">
        <div class="carousel__contenedor-i">
          <button aria-label="Anterior" class="carousel__anterior-i">
            <i class="fas fa-chevron-left"></i>
          </button>
  
          <div class="carousel__lista-i">
            <div class="carousel__elemento-i">
              <img src="img/cafe_f_h.png" alt="">
              <h1>Línea Dorada</h1>
              <p class="card-name-i">con una tostión media para un sabor balanceado</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>

            <div class="carousel__elemento-i">
              <img src="img/cafe_f_h.png" alt="">
              <h1>Línea Dorada</h1>
              <p class="card-name-i">con una tostión media para un sabor balanceado</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>

            <div class="carousel__elemento-i">
              <img src="img/cafe_f_h.png" alt="">
              <h1>Línea Dorada</h1>
              <p class="card-name-i">con una tostión media para un sabor balanceado</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
          </div>
  
          <button aria-label="Siguiente" class="carousel__siguiente-i">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
  
        <div role="tablist" class="carousel__indicadores-i"></div>
      </div>
    </section>

    <!-- ==================== ORIGENES ==================== -->

    <section>
      <img src="img/Origenes Foto.png" width="100%" height="60%" alt="">
      <h1>Origenes</h1>
      <p class="origen">Finca Helena nace de la diversidad femenina, de una semilla cultivada al Norte de Santander, resultado del amor y el compromiso de una mujer cafetera. Nuestro significado va más allá de vender café, es poder construir una comunidad de mujeres, que sean creadoras, degustadoras y exportadoras de café en cada hogar colombiano. 
        Trabajamos para ofrecer la mejor calidad antes de llegar a una taza de café, pasando por las manos delicadas de una mujer que le aporta niveles de textura, suavidad, aroma y tradición. 
        Helena te invita a sembrar y recolectar experiencias desde la unión del café.
      </p>

      <div class="btn-o">
        <button class="btn-org" onclick="location.href='origen.html'">ver más</button>
        <button class="btn-org"><a id="descarga" href="HV.pdf" download="Catalogo">Descargar Catálogo </a></button>
      </div>

    </section>

    <!-- ==================== PRODUCTOS DE CAFÉ ==================== -->

    <section id="carrusel">
      <h2>Productos de Café</h2>

      <div class="carousel">
        <div class="carousel__contenedor">
          <button aria-label="Anterior" class="carousel__anterior">
            <i class="fas fa-chevron-left"></i>
          </button>
  
          <div class="carousel__lista">
            <div class="carousel__elemento">
              <img src="img/Producto-1.png" alt="">
              <h1>Línea Dorada</h1>
              <p class="card-name">Café Premium</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
            <div class="carousel__elemento">
              <img src="img/Producto-2.png" alt="">
              <h1>Línea Plata</h1>
              <p class="card-desc">Café Excelso</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
            <div class="carousel__elemento">
              <img src="img/Producto-1.png" alt="">
              <h1>Línea Dorada</h1>
              <p class="card-desc">Café Premium</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
            <div class="carousel__elemento">
              <img src="img/Producto-2.png" alt="">
              <h1>Línea Plata</h1>
              <p class="card-desc">Café Excelso</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
    
            <div class="carousel__elemento">
              <img src="img/Producto-1.png" alt="">
              <h1>Línea Dorada</h1>
              <p class="card-desc">Café Premium</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
            <div class="carousel__elemento">
              <img src="img/Producto-2.png" alt="">
              <h1>Línea Plata</h1>
              <p class="card-desc">Café Excelso</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
            <div class="carousel__elemento">
              <img src="img/Producto-1.png" alt="">
              <h1>Línea Dorada</h1>
              <p class="card-name">Café Premium</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
            <div class="carousel__elemento">
              <img src="img/Producto-2.png" alt="">
              <h1>Línea Plata</h1>
              <p class="card-desc">Café Excelso</p>
              <p class="card-desc">Contenido 1000g</p>
              <button class="btn-card">Añadir al carrito</button>
            </div>
          </div>
  
          <button aria-label="Siguiente" class="carousel__siguiente">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
  
        <div role="tablist" class="carousel__indicadores"></div>
      </div>
      
    </section>

    <!-- ==================== MUNDO CAFÉ ==================== -->

    <h2>Mundo Café</h2>
    
    <section>
      <img src="img/Mundo Café.png" width="100%" height="60%" alt="">
      <p class="legend">No te pierdas nuestras <br> Recetas y novedades</p>

      <div class="btn-mc">
        <button class="btn-receta" onclick="location.href='recetas.html'"><img src="img/Grupo 51.png" width="40" height="40" alt=""></button>
        <button class="btn-receta" onclick="location.href='metodo-preparacion.html'"><img src="img/Grupo 21.png" width="40" height="40" alt=""></button>
        <button class="btn-receta" onclick="location.href='trabajos.html'"><img src="img/Grupo 21.png" width="40" height="40" alt=""></button>
        <button class="btn-receta" onclick="location.href='trabajos.html'"><img src="img/Grupo 21.png" width="40" height="40" alt=""></button>  
      </div>

    </section>

    <!-- ==================== FORMULARIO DE CONTACTO ==================== -->

    <h2>Contáctanos</h2>
    <section>
      <div class="contacto">
          <div class="formulario-contacto">

              <form id="contact_form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScO9J6ExidHtPA8TaWKAgYl6fNlwi6_vbHKeQaSw_nAd8JYnA/formResponse" method="POST" enctype="multipart/form-data">
                  <div class="row">
                      <input id="name" class="input" name="entry.2120768356" type="text" value="" size="30"
                          placeholder="  Nombres y apellidos *" /><br />
                      <span id="name_validation" class="error_message"></span>
                  </div>
                  <div class="row">
                    <input id="business" class="input" name="entry.2049155464" type="text" value="" size="30"
                        placeholder="  Empresa" /><br />
                    <span id="empresa_validation" class="error_message"></span>
                  </div>
                  <div class="row">
                      <input id="email" class="input" name="entry.147257226" type="text" value="" size="30"
                          placeholder="  Correo electronico *" />
                      <span id="email_validation" class="error_message"></span>
                  </div>                        
                  <div class="row">
                    <table>
                      <tr>
                        <td>
                          <input id="phone" class="input" name="entry.464107566" type="text" value="" size="30"
                             placeholder="  Telefono *" />
                          <span id="phone_validation" class="error_message"></span>
                        </td>
                        <td>
                          <input id="job" class="input" name="job" type="text" value="" size="30"
                            placeholder="  Cargo" />
                          <span id="job_validation" class="error_message"></span>
                        </td>
                      </tr>
                    </table>
                    
                  </div>
                  
                  <div class="row">

                    <table>
                      <tr>
                        <td>
                          <div class="input-group">                                          
                            <select id="pais" name="entry.1090842010" class="form-control selectpicker">
                                <option hidden selected>  Pais *</option>
                                <option>Afganistán</option>
                                <option>Albania</option>
                                <option>Alemania</option>
                                <option>Andorra</option>
                                <option>Angola</option>
                                <option>Antigua Y Barbuda</option>
                                <option>Arabia Saudita</option>
                                <option>Argelia</option>
                                <option>Argentina</option>
                                <option>Armenia</option>
                                <option>Australia </option>
                                <option>Austria</option>
                                <option>Azerbaiyán</option>
                                <option>Bahamas</option>
                                <option>Bangladés</option>
                                <option>Barbados</option>
                                <option>Baréin</option>
                                <option>Bélgica </option>
                                <option>Belice</option>
                                <option>Benin</option>
                                <option>Bielorrusia</option>
                                <option>Bolivia</option>
                                <option>Bosnia Y Herzegovina</option>
                                <option>Botsuana</option>
                                <option>Brasil</option>
                                <option>Brunei</option>
                                <option>Bulgaria</option>
                                <option>Burkina Faso</option>
                                <option>Burundi</option>
                                <option>Bután</option>
                                <option>Cabo Verde</option>
                                <option>Camboya</option>
                                <option>Camerún</option>
                                <option>Canadá</option>
                                <option>Chad</option>
                                <option>Chile</option>
                                <option>China</option>
                                <option>Chipre</option>
                                <option>Colombia</option>
                                <option>Comoras</option>
                                <option>Corea Del Norte</option>
                                <option>Corea Del Sur</option>
                                <option>Costa De Marfil</option>
                                <option>Costa Rica</option>
                                <option>Croacia </option>
                                <option>Cuba</option>
                                <option>Dinamarca</option>
                                <option>Dominica</option>
                                <option>Ecuador</option>
                                <option>Egipto</option>
                                <option>El Salvador</option>
                                <option>Emiratos Arabes Unidos</option>
                                <option>Eritrea</option>
                                <option>Eslovaquia</option>
                                <option>Eslovenia</option>
                                <option>España </option>
                                <option>Estados Unidos</option>
                                <option>Estonia </option>
                                <option>Etiopía</option>
                                <option>Filipinas</option>
                                <option>Finlandia</option>
                                <option>Fiyi</option>
                                <option>Francia </option>
                                <option>Gabón</option>
                                <option>Gambia</option>
                                <option>Georgia</option>
                                <option>Ghana</option>
                                <option>Granada</option>
                                <option>Grecia</option>
                                <option>Guatemala</option>
                                <option>Guinea Ecuatorial</option>
                                <option>Guinea</option>
                                <option>Guinea-Bissau</option>
                                <option>Guyana</option>
                                <option>Haití</option>
                                <option>Honduras</option>
                                <option>Hungría</option>
                                <option>Imor Oriental</option>
                                <option>India</option>
                                <option>Indonesia</option>
                                <option>Irán</option>
                                <option>Iraq</option>
                                <option>Irlanda </option>
                                <option>Islandia </option>
                                <option>Islas Marshall</option>
                                <option>Islas Salomón</option>
                                <option>Israel</option>
                                <option>Italia</option>
                                <option>Jamaica</option>
                                <option>Japón</option>
                                <option>Jordania</option>
                                <option>Kazajistán</option>
                                <option>Kenia</option>
                                <option>Kirguistán</option>
                                <option>Kiribati</option>
                                <option>Kuwait</option>
                                <option>Laos</option>
                                <option>Lesoto</option>
                                <option>Letonia</option>
                                <option>Líbano</option>
                                <option>Liberia</option>
                                <option>Libia</option>
                                <option>Liechtenstein</option>
                                <option>Lituania</option>
                                <option>Luxemburgo</option>
                                <option>Madagascar</option>
                                <option>Malasia</option>
                                <option>Malaui</option>
                                <option>Maldivas</option>
                                <option>Mali</option>
                                <option>Malta</option>
                                <option>Marruecos</option>
                                <option>Mauricio</option>
                                <option>Mauritania</option>
                                <option>México</option>
                                <option>Micronesia</option>
                                <option>Moldavia</option>
                                <option>Mónaco</option>
                                <option>Mongolia</option>
                                <option>Montenegro</option>
                                <option>Mozambique</option>
                                <option>Myanmar (Birmania)</option>
                                <option>Namibia</option>
                                <option>Nauru</option>
                                <option>Nepal</option>
                                <option>Nicaragua</option>
                                <option>Níger</option>
                                <option>Nigeria</option>
                                <option>Noruega</option>
                                <option>Nueva Zelanda</option>
                                <option>Omán</option>
                                <option>Países Bajos</option>
                                <option>Pakistán</option>
                                <option>Palaos </option>
                                <option>Palestina</option>
                                <option>Panamá</option>
                                <option>Papúa Nueva Guinea </option>
                                <option>Paraguay</option>
                                <option>Perú</option>
                                <option>Polonia </option>
                                <option>Portugal </option>
                                <option>Puerto Rico</option>
                                <option>Reino Unido</option>
                                <option>República Centroafricana</option>
                                <option>República Checa </option>
                                <option>República De Macedonia </option>
                                <option>República Del Congo</option>
                                <option>República Democrática Del Congo</option>
                                <option>República Dominicana</option>
                                <option>Ruanda</option>
                                <option>Rumania </option>
                                <option>Rusia </option>
                                <option>Samoa </option>
                                <option>San Cristóbal Y Nieves</option>
                                <option>San Marino </option>
                                <option>San Vicente Y Las Granadinas</option>
                                <option>Santa Lucía</option>
                                <option>Santo Tomé Y Príncipe</option>
                                <option>Senegal</option>
                                <option>Serbia </option>
                                <option>Seychelles</option>
                                <option>Sierra Leona</option>
                                <option>Siria</option>
                                <option>Somalia</option>
                                <option>Sri Lanka</option>
                                <option>Suazilandia</option>
                                <option>Sudáfrica</option>
                                <option>Sudán Del Sur</option>
                                <option>Sudán</option>
                                <option>Suecia </option>
                                <option>Suiza </option>
                                <option>Surinam</option>
                                <option>Tailandia</option>
                                <option>Tanzania</option>
                                <option>Tayikistán</option>
                                <option>Togo</option>
                                <option>Tonga</option>
                                <option>Trinidad Y Tobago</option>
                                <option>Túnez</option>
                                <option>Turkmenistán</option>
                                <option>Turquía</option>
                                <option>Tuvalu</option>
                                <option>Ucrania </option>
                                <option>Uganda</option>
                                <option>Uzbekistán</option>
                                <option>Vanuatu</option>
                                <option>Venezuela</option>
                                <option>Vietnam</option>
                                <option>Yemen</option>
                                <option>Yibuti</option>
                                <option>Zambia</option>
                                <option>Zimbabue</option>
                            </select>
                        </div>
                        </td>
                        <td>
                          <div class="input-group">                                          
                            <select id="ciudad" name="entry.57120136" class="form-control selectpicker">
                                <option hidden selected>  Ciudad</option>
                                <option>Apartadó</option>
                                <option>Armenia</option>
                                <option>Barrancabermeja</option>
                                <option>Barranquilla</option>
                                <option>Bello</option>
                                <option>Bogotá</option>
                                <option>Bucaramanga</option>
                                <option>Buenaventura</option>
                                <option>Calí</option>
                                <option>Cartagena</option>
                                <option>Cartago</option>
                                <option>Caucasia</option>
                                <option>Chía</option>
                                <option>Ciénaga</option>
                                <option>Cúcuta</option>
                                <option>Dosquebradas</option>
                                <option>Duitama</option>
                                <option>Envigado</option>
                                <option>Facatativá</option>
                                <option>Florencia</option>
                                <option>Floridablanca</option>
                                <option>Fusagasugá</option>
                                <option>Girardot</option>
                                <option>Girón</option>
                                <option>Buga</option>
                                <option>Ibagué</option>
                                <option>Ipiales</option>
                                <option>Itagui</option>
                                <option>Jamundi</option>
                                <option>Lorica</option>
                                <option>Magangué</option>
                                <option>Maicao</option>
                                <option>Malambo</option>
                                <option>Manizales</option>
                                <option>Medellín</option>
                                <option>Montería</option>
                                <option>Neiva</option>
                                <option>Ocaña</option>
                                <option>Palmira</option>
                                <option>Pasto</option>
                                <option>Pereira</option>
                                <option>Piedecuesta</option>
                                <option>Pitalito</option>
                                <option>Popayán</option>
                                <option>uibdó</option>
                                <option>Riohacha</option>
                                <option>Rionegro</option>
                                <option>Tumaco</option>
                                <option>Santa Marta</option>
                                <option>Sincelejo</option>
                                <option>Soacha</option>
                                <option>Sogamoso</option>
                                <option>Soledad</option>
                                <option>Tuluá</option>
                                <option>Tunja</option>
                                <option>Turbo</option>
                                <option>Uribia</option>
                                <option>Valledupar</option>
                                <option>Villavicencio</option>
                                <option>Yopal</option>
                                <option>Yumbo</option>
                                <option>Zipaquirá</option>
                            </select>
                        </div>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="row">
                      <textarea id="mensaje" class="input" name="entry.90677970" placeholder="  Mensaje"></textarea><br />
                      <span id="message_validation" class="error_message"></span>
                  </div>

                  <div class="btn-enviar">
                    <input id="enviar" type="submit" value="Enviar" />
                  </div>
              </form>
          </div> 
      </div>
  </section>

  <!-- ==================== PIE DE PAGINA ==================== -->

  <section>
    <div id="img-pp">
      <img src="img/Logo.png" width="300" height="100" alt="">
    </div>
    
    <div id="nets-home">
      <button type="button" class="btn btn-light"><img src="img/faceboook.png" width="25" height="25"
              onclick="location.href='https:www.facebook.com/postingccg'" alt=""></button>
      <button type="button" class="btn btn-light"><img src="img/instagram.png" width="25" height="25"
              onclick="location.href='https:www.instagram.com/posting_ccg_/'" alt=""></button>
    </div>
    <div class="info-contacto">
      <p class="i-c"> <a href="" class="negrita">Dirección:</a>Calle 161a # 21-16 - Barrio Orquideas<a href="" class="negrita">Tel.:</a>+57 1 732 3084<a href="" class="negrita">Cel.:</a>+57 324 421 5638  <a href="" class="negrita">Correo:</a>Infocomercial@cafehelena.com</p>
    </div>
  </section>

  <!-- ==================== FOOTER ==================== -->

  <div class="footer">Café Finca Helena © 2022 || Todos los derechos reservados. Creado por POSTING "Estrategia Digital"</div>

  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="js/app.js"></script>
  <script src="js/app-i.js"></script>

  <!-- ==================== FIREBASE ==================== -->
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyClM1ZyFYfKjbqK8Uh8lF5-bm9EjEOqF9s",
      authDomain: "db-cafe-d0088.firebaseapp.com",
      projectId: "db-cafe-d0088",
      storageBucket: "db-cafe-d0088.appspot.com",
      messagingSenderId: "836782887253",
      appId: "1:836782887253:web:6bec5028b5ce46f1f41fdc",
      measurementId: "G-Q6V71JP0LE"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>

  <script src="js/database.js"></script>

  </body>
</html>