* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

@font-face {
  font-family: "Davish-Black-Rounded";
  src: url(Fuentes/Davish-Black-Rounded.otf);
}
@font-face {
  font-family: "Davish-Black";
  src: url(Fuentes/Davish-Black.otf);
}
@font-face {
  font-family: "Davish-Bold-Italic";
  src: url(Fuentes/Davish-Bold-Italic.otf);
}
@font-face {
  font-family: "Davish-Bold";
  src: url(Fuentes/Davish-Bold.otf);
}
@font-face {
  font-family: "Davish-Light";
  src: url(Fuentes/Davish-Light.otf);
}
@font-face {
  font-family: "Davish-Normal";
  src: url(Fuentes/Davish-Normal.otf);
}
@font-face {
  font-family: "Davish-Thin";
  src: url(Fuentes/Davish-Thin.otf);
}
.navbar {
  padding: 22px 0;
  background: #ffffff !important;
  border-bottom: none !important;
}

.icon-bar {
  background-color: #6D6C6B !important;
}

.logo-header {
  height: 57px;
  margin-left: 100px;
}

.navbar .navbar-header .navbar-brand .logo-header {
  height: 100%;
}

#shopping-cart {
  border: none;
  background: none;
  margin-top: 10px;
}

nav .navbar-nav .nav-item .nav-link {
  color: #6D6C6B !important;
  font-family: "Davish-Black-Rounded";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14pt;
  transition: all 0.3s ease-in;
}

nav .navbar-nav .nav-item .nav-link:hover {
  color: #C8A833 !important;
}

nav .navbar-nav .nav-item .nav-link.location {
  border: 1px solid #ffffff;
  border-radius: 50px;
}

nav .navbar-nav .nav-item .nav-link.location:hover {
  background: deepskyblue !important;
  color: #6D6C6B !important;
}

.navbar-toggle {
  border: 1px solid #6d6c6b00 !important;
  transition: all 0.3s ease-in;
}

.navbar-toggle:hover {
  background: #C8A833 !important;
}

.navbar-inverse .navbar-collapse {
  border-color: transparent !important;
}

.navbar-fixed-top .navbar-collapse {
  max-height: inherit !important;
}

@media (max-width: 998px) {
  nav .navbar-nav .nav-item .nav-link {
    padding: 15px 6px !important;
  }
}
@media (max-width: 768px) {
  nav .navbar-nav .nav-item .nav-link {
    padding: 15px 15px !important;
  }

  nav .navbar-nav .nav-item .nav-link.location {
    border: none;
  }

  nav .navbar-nav .nav-item .nav-link.location:hover {
    background: transparent !important;
    color: deepskyblue !important;
  }
}
.section {
  margin-top: 100px;
}

h1 {
  font-size: 50pt !important;
  font-family: "Davish-Black-Rounded" !important;
  color: #C8A833 !important;
  text-align: center;
}

h2 {
  font-size: 50pt !important;
  font-family: "Davish-Black-Rounded" !important;
  color: #6D6C6B;
  text-align: center;
}

p {
  font-size: 30pt;
  font-family: "Davish-Light" !important;
  color: #6D6C6B;
  text-align: center;
}

.negrita {
  font-family: "Davish-Black";
  color: #6D6C6B;
}

.origen {
  width: 80%;
  font-size: 20pt;
  font-family: "Davish-Light" !important;
  color: #6D6C6B;
  text-align: justify;
  margin-left: 30px;
}

#descarga {
  color: #fff;
  text-decoration: none;
}

/* --- --- BANNER --- --- */
#carousel-i {
  margin-top: 300px;
}

.carousel__contenedor-i {
  position: relative;
}

.carousel__anterior-i,
.carousel__siguiente-i {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5rem;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background-color: #C8A833;
  color: #fff;
  opacity: 80%;
}

.carousel__anterior-i:hover,
.carousel__siguiente-i:hover {
  opacity: 100%;
}

.carousel__anterior-i {
  left: 20px;
}

.carousel__siguiente-i {
  right: 20px;
}

.carousel__lista-i {
  overflow: hidden;
}

.carousel__elemento-i {
  text-align: center;
}

.carousel__indicadores-i .glider-dot {
  display: block;
  width: 4px;
  height: 4px;
  margin-top: 20px;
  background: #C8A833 !important;
  opacity: 0.2;
  border-radius: 5rem;
}

.carousel__indicadores-i .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores-i .glider-dot.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  body {
    padding: 40px 0;
  }

  .contenido-principal {
    flex-direction: column;
  }

  .contenido-principal > * {
    width: 100%;
  }
}
/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5rem;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background-color: #C8A833;
  color: #fff;
  opacity: 80%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: 20px;
}

.carousel__siguiente {
  right: 20px;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 4px;
  height: 4px;
  margin-top: 20px;
  background: #C8A833 !important;
  opacity: 0.2;
  border-radius: 5rem;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  body {
    padding: 40px 0;
  }

  .contenido-principal {
    flex-direction: column;
  }

  .contenido-principal > * {
    width: 100%;
  }
}
.card-name {
  margin-top: -10px;
  font-size: 20pt;
  font-family: "Davish-Normal";
  color: #6D6C6B;
  text-align: center;
}

.card-desc {
  margin-top: -10px;
  font-size: 18pt;
  font-family: "Davish-Light";
  color: #6D6C6B;
  text-align: center;
}

.btn-card {
  height: 35px;
  width: 120px;
  background-color: #C8A833;
  color: #ffffff;
  border-radius: 5rem;
  border: none;
}

.legend {
  width: 80%;
  font-size: 20pt !important;
  font-family: "Davish-Black-Rounded" !important;
  color: #6D6C6B;
  text-align: left;
  margin-left: 20px;
  margin-top: -120px;
}

.btn-rd {
  height: 35px;
  width: 120px;
  background-color: #C8A833;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  margin-left: 135px;
}

.btn-o {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.btn-org {
  margin-left: 10px;
  margin-right: 10px;
  height: 35px;
  width: 120px;
  background-color: #C8A833;
  color: #ffffff;
  border-radius: 5rem;
  border: none;
  margin-bottom: 100px;
}

.btn-vermas {
  height: 35px;
  width: 120px;
  background-color: #C8A833;
  color: #ffffff;
  border-radius: 5rem;
  border: none;
  margin-left: 75px;
}

.btn-descargar {
  height: 35px;
  width: 120px;
  background-color: #C8A833;
  color: #ffffff;
  border-radius: 5rem;
  border: none;
  font-size: 12px;
}

.btn-mc {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.btn-receta {
  height: 60px;
  width: 60px;
  background-color: #C8A833;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.contacto {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.info-contacto {
  height: 130px;
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

#name {
  width: 380px;
  height: 35px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 5rem;
  border: 0px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#business {
  width: 380px;
  height: 35px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 5rem;
  border: 0px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#email {
  width: 380px;
  height: 35px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 5rem;
  border: 0px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#phone {
  width: 185px;
  height: 35px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 5rem;
  border: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#job {
  width: 185px;
  height: 35px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 5rem;
  border: 0px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#pais {
  width: 185px;
  height: 35px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 5rem;
  border: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#ciudad {
  width: 185px;
  height: 35px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 5rem;
  border: 0px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#mensaje {
  width: 380px;
  height: 160px;
  background-color: #E6E6E6;
  font-size: 12px;
  border-radius: 1rem;
  border: 0px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.btn-enviar {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#enviar {
  width: 120px;
  height: 35px;
  background-color: #C8A833;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 5rem;
  border: none;
  color: #ffffff;
}

#img-pp {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

#nets-home {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa00 !important;
  border-color: #f8f9fa00 !important;
}

.i-c {
  font-size: 20pt;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;
  color: #6D6C6B;
}

/*# sourceMappingURL=styles.css.map */
